body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    position: relative;
}

.row {
    margin: 0;
}

.white {
    position: relative;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: soft-light;
}

.background {
    position: relative;
    height: 100vh;
    background: conic-gradient(from 219.51deg at 43.09% 62.83%, #E0C4FD -16.5deg, #D2C4FD 8.63deg, #8FC6FD 78.9deg,
            #9DC6FD 162.87deg, #D5C4FD 190.06deg, #A4C5FD 268.13deg, #E0C4FD 343.5deg, #D2C4FD 368.63deg);
}

.wrapper-1 {
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 10vh;
    width: 100%;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    color: #29343E;
    font-size: 32px;
    font-weight: 500;
}

.account-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-top: 10px;
    font-size: 20px;
    color: #29343E;
    font-weight: 400;
    text-decoration: none;
    list-style-type: none;
}

.wrapper-2 {
    display: flex;
    width: 100%;
    flex-direction: row;
    min-height: 90vh;
}

.sidebar {
    width: 20vw;
    flex-grow: 1;
    /*border: solid red;*/
}

.sidebar-menu {
    height: 40%;
    margin: 0;

    /*border: solid red;*/
}

.sidebar-menu>div>li {
    list-style-type: none;
}

.sidebar-menu>div>li>a {
    text-decoration: none;
    color: #29343E;
    font-size: 18px;
    font-weight: 400;
}

.menu-label {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 2rem;
    gap: 1.5vw;
    width: 15vw;
    height: 5vh;
}

.sidebar-timer {
    height: 20%;

    /*border: solid red;*/
}

.sidebar-members {
    height: 40%;
    padding-top: 1rem;
    text-decoration: none;
    list-style-type: none;

    /*border: solid red;*/
}

.members-label {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1.5vw;
    width: 15vw;
    height: 5vh;
}

.display-area {
    flex-grow: 1;
    width: 80vw;
    /*border: solid red;*/

    background: rgba(255, 255, 255, 0.7);
    border-radius: 30px 0px 0px 0px;
}
