body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    position: relative;
    background: linear-gradient(to top right, #A4C5FD4D, #8FC6FD4D, #E0C4FD4D);
}

.row {
    margin: 0;
    margin-top: 10px;
    /* height: 90vh; */
}

.sidenav {
    position: fixed;
    overflow: auto;
}

.navbar-brand {
    font-size: 100%;
    color: black;
}

.nav-link {
    color: #858585;
}

.choose {
    background-color: white;
    color: #5CA9FF;
}

.content {
    background-color: rgba(255, 255, 255, 0.6);
    min-height: max-content;
    min-height: 100%;
    border-radius: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-profile1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding-top: 30px;
    margin-left: 1cm;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    list-style-type: none;
}

.jumbotron {
    flex-direction: row;
    justify-content: left;
    padding: 2rem;
    gap: 1.5vw;
    font-size: 17px;
    width: 20cm;
    height: 13cm;
    background-color: #E0EEFF;
    margin-top: 3vw;
    margin-left: 3cm;
}

.btn-sm {
    background-color: #FFFFFF;
    border: 1.5px solid #589BFF;
    width: 7vw;
}

.btn-lg {
    border: 0px solid #4CAF50;
    width: 428px;
    height: 5vw;
    background: linear-gradient(260.9deg, #E0C4FD 18.67%, #A4C5FD 76.85%, #8FC6FD 96.79%);
}

.menu-label {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 2rem;
    margin-top: 20px;
    margin-left: 1cm;
    gap: 1.5vw;
    width: 23cm;
    height: 1cm;
    font-size: 17px;
}

.color-gradient {
    background: linear-gradient(260.9deg, #E0C4FD 18.67%, #A4C5FD 76.85%, #8FC6FD 96.79%);
    transform: rotate(-90deg);
    ;
}
